body{
  width:100%;
  height:100%;
}

header{
  width:100%;
  height:80px;
}

.header-left{
  float:left;
  width:90%;
  height:80px;
  background-color: #8f821d;
  color:black;
}

.header-logo{
  font-family:normal;
  font-size:28px;
  font-weight:400;
  letter-spacing: 0.01em;
  line-height: 80px;
  float:left;
  padding-left:30px;
}

.header-list{
  height:80px;
  font-family:normal;
  font-size:14px;
  font-weight:400;
  line-height:55px;
  letter-spacing: 0.05em;
  float:right;
}

.header-list li{
  list-style: none;
  float:left;
}

.item{
 margin:0 25px;
}

.header-right{
  float:right;
  width:10%;
  height:80px;
  background-color:green;
  color:white;
}

.btn_item{
  padding-top:30px;
  padding-left:50px;
}

a{
  color:black;
}

a:hover{
  color:white;
}

a:active{
  color:black;
}

.container {
  position:relative;
}

.container img{
  width:100%;
  height:100%;
}

.container p{
  font-family:cursive;
  font-size:50px;
  color:#a33f4f;
  position:absolute;
  top:0;
  left:0;
  margin-left:600px;
}

.introduce-wrapper{
  width:100%;
  height:80px;
  background-color:#afa22f;
}

.extraction{
  float:left;
  padding:30px;
  font-size:20px;
}

.extraction-list{
  padding-left:50px;
}

.extraction-list li{
  float:left;
  list-style:none;
  padding-top:15px;
  margin:0 25px;
  line-height:55px;
}
